.header_h3 {
    font-size: 25px;
    font-weight: normal;
}

.product_text {
    font-weight: bold;
}

.product_text--qty {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.product_text--quantity {

    font-size: 18px;
    padding: 0 10px;
}

.checkout_details--price {
    font-size: 18px;
}